@charset "UTF-8";
/*@use 'mixins';
@use 'colors';*/
body {
  font-family: "Lato", sans-serif;
}

/*Global */
.cache {
  visibility: hidden;
}

input[type=text] {
  width: 100%;
  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #FF674D;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=button] {
  background-color: #7776BC;
  border: none;
  font-weight: bold;
  color: #FFEC51;
  padding: 10px 60px;
  text-decoration: none;
  margin: 4px 2px;
}
input[type=button]:hover {
  background-color: #7776BC;
  border: 1px #000 solid;
}

/*Extends*/
.ShadowBox, .SectionGallerie__items-img img, .SectionFaitsDivers__LeftPart-img img, .SectionActeurs__items1-item .ImageActor, .SectionActeurs__items1-item {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.BorderSection, .SectionGallerie, .SectionExtraits {
  border-color: #FFEC51;
  border-style: solid;
  border-width: 4px 0;
}

.Titre, .Titre_h5, .SectionFaitsDivers__RightPart h5, .SectionActeurs h5, .Titre_h4, .SectionFaitsDivers__RightPart h4, .SectionActeurs h4, .Titre_h2, .SectionAccordeon h2, .SectionFaitsDivers__RightPart h2, .SectionActeurs h2, .SectionExtraits h2, .SectionPresentation h2 {
  font-weight: bold;
  color: #FF674D;
}

.Titre_h2, .SectionAccordeon h2, .SectionFaitsDivers__RightPart h2, .SectionActeurs h2, .SectionExtraits h2, .SectionPresentation h2 {
  margin: 0 0 40px 0;
  font-size: 48px;
}

.Titre_h4, .SectionFaitsDivers__RightPart h4, .SectionActeurs h4 {
  margin: 20px 0 0 0;
  font-size: 24px;
}

.Titre_h5, .SectionFaitsDivers__RightPart h5, .SectionActeurs h5 {
  color: #000;
  margin: 0 0 20px 0;
  font-size: 18px;
}

.Paragraphe, .SectionAccordeon__p p, .SectionFaitsDivers__RightPart p, .SectionActeurs p, .SectionExtraits p, .SectionPresentation p {
  color: #7776BC;
  margin: 0 0 40px 0;
  font-size: 18px;
}

/*Header*/
.header__nav {
  background-color: #FF674D;
}

/* index.html*/
/*Section présentation et caroussel */
.SectionPresentation {
  margin-top: 40px;
  margin-right: 8%;
  margin-bottom: 20px;
  margin-left: 8%;
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  background-color: #CDC7E5;
  justify-self: center;
  justify-content: center;
}
.SectionPresentation__LeftPart {
  align-self: center;
  margin-right: 30px;
}
.SectionPresentation__LeftPart-buttons a {
  font-weight: bold;
  text-align: center;
  padding: 10px 20px;
  margin: 0 20px;
}
.SectionPresentation__LeftPart-buttons a:first-child {
  color: #7776BC;
  border: 2px solid #FFEC51;
}
.SectionPresentation__LeftPart-buttons a:first-child:hover {
  color: #FFEC51;
  background-color: #7776BC;
}
.SectionPresentation__LeftPart-buttons a:last-child {
  color: #FFEC51;
  background-color: #7776BC;
}
.SectionPresentation__LeftPart-buttons a:last-child:hover {
  color: #7776BC;
  background-color: #FFF;
  border: 2px solid #FFEC51;
}

/* Section Images et extraits */
.SectionExtraits {
  margin-top: 20px;
  margin-right: 8%;
  margin-bottom: 20px;
  margin-left: 8%;
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  justify-items: center;
}
.SectionExtraits__items {
  margin: 40px 0;
}
.SectionExtraits__items p {
  text-align: center;
  margin: 10px 0;
}
.SectionExtraits__form-button {
  margin: 0;
  align-self: center;
}
.SectionExtraits__form-button input[type=button] {
  width: 100%;
}
.SectionExtraits__iframe {
  width: 100%;
}
.SectionExtraits__iframe iframe {
  width: 100%; /*560*/
  height: 500px; /*315*/
}

.SectionActeurs {
  margin-top: 20px;
  margin-right: 8%;
  margin-bottom: 20px;
  margin-left: 8%;
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
}
.SectionActeurs__items1 {
  margin: 40px 0;
}
.SectionActeurs__items1-item {
  border-radius: 1%;
}
.SectionActeurs__items1-item .ImageActor {
  width: 100%;
  border-radius: 5%;
}
.SectionActeurs__items1-item div {
  margin: 0 0 20px 0;
}
.SectionActeurs__items1-item div img {
  width: 80%;
}
.SectionActeurs__items2 {
  margin: 40px 0 0 0;
}
.SectionActeurs .itemsForSectionActeurs, .SectionActeurs .SectionActeurs__items1-item, .SectionActeurs .SectionActeurs__items2-item {
  padding: 20px;
  background-color: #FFFBDB;
}

.SectionArticles {
  margin-top: 20px;
  margin-right: 8%;
  margin-bottom: 20px;
  margin-left: 8%;
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
}
.SectionArticles__items-img {
  justify-self: end;
  margin: 20px 0;
}
.SectionArticles__items-p {
  align-self: center;
  justify-self: center;
}
.SectionArticles__items-p p {
  margin: 0;
  width: 100%;
}
.SectionArticles__items-p .middleArticleP {
  padding-left: 30%;
}

/*footer*/
.footer {
  background-color: #FF674D;
  color: #FFF;
  padding: 0;
  margin-top: 20px;
}
.footer__part1 {
  padding: 20px 10px;
  border-bottom: 2px solid #FFEC51;
}
.footer__part1-rs img {
  width: 50%;
}
.footer__part2 {
  padding: 20px 10px;
}

/* page tourage */
.SectionFaitsDivers {
  margin-top: 20px;
  margin-right: 8%;
  margin-bottom: 20px;
  margin-left: 8%;
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  background-color: #FFFBDB;
}
.SectionFaitsDivers__LeftPart {
  order: 1;
}
.SectionFaitsDivers__LeftPart-img {
  width: 100%;
}
.SectionFaitsDivers__RightPart {
  order: 2;
  align-self: center;
  margin-left: 40px;
}
.SectionFaitsDivers__RightPart .FaitsDivers__button {
  margin-top: 40px;
}

/* Gallerie  */
.SectionGallerie {
  margin-top: 20px;
  margin-right: 8%;
  margin-bottom: 20px;
  margin-left: 8%;
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  text-align: -webkit-center;
}
.SectionGallerie__items-img {
  width: 100%;
}
/*  Accordéon  */
.SectionAccordeon {
  margin-top: 20px;
  margin-right: 8%;
  margin-bottom: 20px;
  margin-left: 8%;
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  text-align: -webkit-center;
}
.SectionAccordeon h2 {
  text-align: center;
}
.SectionAccordeon__p {
  width: 60%;
}
.SectionAccordeon__p p {
  text-align: center;
}
.SectionAccordeon #accordion-collapse-heading-1, .SectionAccordeon #accordion-collapse-heading-2, .SectionAccordeon #accordion-collapse-heading-3, .SectionAccordeon #accordion-collapse-heading-4, .SectionAccordeon #accordion-collapse-heading-5, .SectionAccordeon #accordion-collapse-heading-6 {
  margin: 20px 0 0 0;
}
.SectionAccordeon #accordion-collapse-heading-1 button, .SectionAccordeon #accordion-collapse-heading-2 button, .SectionAccordeon #accordion-collapse-heading-3 button, .SectionAccordeon #accordion-collapse-heading-4 button, .SectionAccordeon #accordion-collapse-heading-5 button, .SectionAccordeon #accordion-collapse-heading-6 button {
  background-color: #FFEC51;
  border: none;
}
.SectionAccordeon #accordion-collapse-heading-1 span, .SectionAccordeon #accordion-collapse-heading-2 span, .SectionAccordeon #accordion-collapse-heading-3 span, .SectionAccordeon #accordion-collapse-heading-4 span, .SectionAccordeon #accordion-collapse-heading-5 span, .SectionAccordeon #accordion-collapse-heading-6 span {
  font-size: 18px;
  color: #000;
  border: none;
}
.SectionAccordeon #accordion-collapse-body-1, .SectionAccordeon #accordion-collapse-body-2, .SectionAccordeon #accordion-collapse-body-3, .SectionAccordeon #accordion-collapse-body-4, .SectionAccordeon #accordion-collapse-body-5, .SectionAccordeon #accordion-collapse-body-6 {
  background-color: #CDC7E5;
  margin-bottom: 10px;
}

/************************************************/
/**************     RESPONSIVE    ***************/
/************************************************/
/****    INDEX   ****/
@media (max-width: 1536px) and (min-width: 1280px) {
  .body {
    background-color: red;
  }
}
/* 1280px > Largeur de l'écran >=768px  */
@media (max-width: 1279px) and (min-width: 769px) {
  .SectionExtraits {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 0;
    margin-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 0;
    padding-left: 20px;
  }
  .SectionExtraits h2 {
    margin-bottom: 10px;
  }
  .SectionExtraits__iframe iframe {
    height: auto;
  }
  .SectionActeurs {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding-top: 0;
    padding-right: 20px;
    padding-bottom: 0;
    padding-left: 20px;
  }
  .SectionActeurs h2 {
    margin-bottom: 10px;
  }
  .SectionArticles {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding-top: 0;
    padding-right: 20px;
    padding-bottom: 0;
    padding-left: 20px;
  }
  .SectionArticles__items-p .middleArticleP {
    padding-left: 20%;
  }
}
/* 768px > Largeur de l'écran  */
@media (max-width: 768px) and (min-width: 500px) {
  /*Présentation de l'oeuvre*/
  .SectionPresentation {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
  }
  .SectionPresentation h2 {
    margin-bottom: 10px;
  }
  .SectionPresentation__LeftPart-buttons {
    margin: 0 0 40px 0;
  }
  /* Section Images et extraits */
  .SectionExtraits {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 0;
    padding-left: 20px;
  }
  .SectionExtraits h2 {
    margin-bottom: 10px;
  }
  .SectionExtraits__items {
    margin: 40px 0;
  }
  .SectionExtraits__items p {
    text-align: center;
    margin: 10px 0;
  }
  .SectionExtraits__iframe {
    display: none;
  }
  /*Section acteurs */
  .SectionActeurs {
    margin-top: 0;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding-top: 0;
    padding-right: 20px;
    padding-bottom: 0;
    padding-left: 20px;
  }
  .SectionActeurs h2 {
    margin-bottom: 10px;
  }
  .SectionActeurs p {
    margin-bottom: 10px;
  }
  /* Section  Articles */
  .SectionArticles {
    margin-top: 0;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding-top: 0;
    padding-right: 20px;
    padding-bottom: 0;
    padding-left: 20px;
  }
  .SectionArticles__items {
    text-align: -webkit-center;
  }
  .SectionArticles__items-img {
    margin: 0 0 40px 0;
    padding: 0;
    justify-self: center;
  }
  .SectionArticles__items-p {
    margin: 0 0 40px 0;
    padding: 0;
  }
  .SectionArticles__items .smReverseImg {
    order: 2;
  }
  .SectionArticles__items .smReverseP {
    order: 1;
    justify-self: center;
    padding: 0;
  }
  .SectionArticles__items .middleArticleP {
    margin: 0 0 40px 0;
    padding: 0;
  }
  .SectionArticles__items .middleArticleImg {
    text-align: center;
    justify-self: center;
    margin: 0 0 40px 0;
    padding: 0;
  }
}
@media (max-width: 600px) and (min-width: 500px) {
  /*Présentation de l'oeuvre*/
  .SectionPresentation__RightPart {
    visibility: hidden;
  }
}
/****    TOURNAGE   ****/
@media (max-width: 1024px) and (min-width: 500px) {
  /* page tourage */
  .SectionFaitsDivers {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }
  .SectionFaitsDivers__LeftPart {
    order: 2;
  }
  .SectionFaitsDivers__LeftPart-img {
    width: 100%;
    text-align: -webkit-center;
    margin: 40px 0;
  }
  .SectionFaitsDivers__RightPart {
    order: 1;
    padding: 0;
    margin: 0;
    width: 50%;
    place-self: center;
  }
  .SectionFaitsDivers__RightPart h2 {
    margin-bottom: 10px;
  }
  .SectionFaitsDivers__RightPart p {
    margin: 10px 0;
  }
}